@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto:wght@100;300;500&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    background: linear-gradient(115deg, #ffffff, #dddddd);
}

:root {
    --font-family: 'Montserrat', sans-serif;
}

/************* NAVIGATION BAR ***************/

nav ul li .nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 0.77rem;
    transition: .5s ease-in-out;
    color: #42ab49;
    letter-spacing: 2px;
}

nav ul li .nav-link:hover {
    color: #000;
}

/************* PROJECT SECTION ***************/

/************* THE KINYOZI ***************/

#Projects {
    margin-top: 7rem;
}


#Projects #projectsRow #projectsImage {
    padding-left: 2.8rem;
}

#Projects #projectsRow #projectsImage .img img {
    width: 77rem;
    border-radius: 14px;
}

#Projects #projectsRow #projectsImage img {
    margin-top: 21px;
    cursor: pointer;
    width: 14rem;
    border-radius: 14px;
}

#projectsNumber {
    font-size: 10rem;
    color: #42ab49;
    font-family: var(--font-family);
}

#projects-subTitle {
    color: #42ab49;
    font-family: var(--font-family);
}

.wrapper {
    padding-top: 42px;
}

.wrapper .badge {
    padding: 21px;
    transition: .7s ease-in;
}

.wrapper .badge:hover {
    opacity: .8;
}

.wrapper .badge img {
    display: inline-block;
	top: 0;
	transition: all 0.5s ease;
    box-shadow: 8px 10px 12px 3px rgba(0, 0, 0, 0.43);
    width: 7rem;
    border-radius: .7rem;
    cursor: pointer;
}

.wrapper .badge img:hover {
    box-shadow: none;
    transform: rotateY(360deg);
}


/************* MUTHUNGU WEBPAGE ***************/

#Projects #projectsRow #MuthunguImage {
    padding-left: 2.8rem;
}

#Projects #projectsRow #MuthunguImage .img img {
    width: 77rem;
    border-radius: 14px;
}

#Projects #projectsRow #MuthunguImage img {
    margin-top: 21px;
    cursor: pointer;
    width: 14rem;
    border-radius: 14px;
}

#MuthunguNumber {
    font-size: 10rem;
    color: #42ab49;
    font-family: var(--font-family);
}

#Muthungu-subTitle {
    color: #42ab49;
    font-family: var(--font-family);
}

/************* COMPANY WEBPAGE ***************/

#Projects #projectsRow #companyImage {
    padding-left: 2.8rem;
}

#Projects #projectsRow #companyImage .img img {
    width: 77rem;
    border-radius: 14px;
}

#Projects #projectsRow #companyImage img {
    margin-top: 21px;
    cursor: pointer;
    width: 14rem;
    border-radius: 14px;
}

#companyNumber {
    font-size: 10rem;
    color: #42ab49;
    font-family: var(--font-family);
}

#company-subTitle {
    color: #42ab49;
    font-family: var(--font-family);
}

/************* COMPANY STORE WEBPAGE ***************/

#Projects #projectsRow #storeImage {
    padding-left: 2.8rem;
}

#Projects #projectsRow #storeImage .img img {
    width: 77rem;
    border-radius: 14px;
}

#Projects #projectsRow #storeImage img {
    margin-top: 21px;
    cursor: pointer;
    width: 14rem;
    border-radius: 14px;
}

#storeNumber {
    font-size: 10rem;
    color: #42ab49;
    font-family: var(--font-family);
}

#store-subTitle {
    color: #42ab49;
    font-family: var(--font-family);
}