/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Full Page Layout */
body, html {
    font-family: "Merriweather", serif;
    background-color: #fff;
    height: 100%;
    scroll-behavior: smooth;
}

/* Page Sections */
.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100% - 60px);
    padding: 20px;
}

.home {
    overflow: hidden;
    background-color: #fff;
}

.blog {
    background-color: #4a9144;
}

.merch {
    background-color: #6061aa;
}

.dictionary-entry {
    text-align: left;
    color: #333;
    margin-bottom: 40px;
}

.dictionary-entry h1 {
    font-size: 49px;
    font-weight: 800;
    color: browm;
}

.phonetic{
    font-style: italic;
    color: #666;
    font-size: 19px;
}

.definition {
    margin-top: 3rem;
    font-size: 18px;
    color: #444;
}

.definition strong

.etymology {
    font-style: italic;
    color: #666;
    margin-top: 15px;
    font-size: 16px;
}

.summary-section {
    margin-top: 30px;
}

.summary-text {
    font-size: 18px;
    color: #333;
    margin-bottom: 40px;
    line-height: 1.5;
}

.explore-button {
    background-color: #D11528;
    color: #000;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    animation: bounce 2.4s infinite; /*** * Bouncing Animation  * ***/
    transition: background-color .3s;
}

.explore-button:hover{
    background-color: #2980b9;
}

/* Glitch Effect and Zoom-In Animation */
/*

Smooth zoom animation from .5s to 1x scale to the page load.


*/

@keyframes zoomIn {
    from {
        transform: scale(.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/*

Clip path creates flickering and distortion effect.
Seperate ::before and ::after pseudo-elements simulate glitch layers with deifferent 
colors.

*/


@keyframes glitch {
    0% {
        clip-path: inset(0 0 95% 0);
        transform: translate(-2px, -2px);
    }
    20% {
        clip-path: inset(0 0 90% 0);
        transform: translate(2px, 2px);
    }
    40% {
        clip-path: inset(0 0 85% 0);
        transform: translate(-2px, -2px);
    }
    60% {
        clip-path: inset(0 0 90% 0);
        transform: translate(2px, 2px);
    }
    80% {
        clip-path: inset(0 0 95% 0);
        transform: translate(-2px,-2px);
    }
    100% {
        clip-path: inset(0 0 95% 0);
        transform: translate(0, 0);
    }
}

@keyframes glitchBefore {
    0% {
        clip-path: inset(80% 0 0 0);
        transform: translate(2px, -2px);
    }
    20% {
        clip-path: inset(0% 0 10% 0);
        transform: translate(-2px, 2px);
    }
    40% {
        clip-path: inset(40% 0 30% 0);
        transform: translate(2px, -2px);
    }
    60% {
        clip-path: inset(20% 0 60% 0);
        transform: translate(-2px, 2px);
    }
    80% {
        clip-path: inset(10% 0 80% 0);
        transform: translate(2px, -2px);
    }
    100% {
        clip-path: inset(80% 0 0 0);
        transform: translate(0, 0);
    }
}

@keyframes glitchAfter {
    0% {
        clip-path: inset(10% 0 85% 0);
        transform: translate(-2px, 2px);
    }
    20% {
        clip-path: inset(30% 0 65% 0);
        transform: translate(2px, -2px);
    }
    40% {
        clip-path: inset(50% 0 45% 0);
        transform: translate(-2px, 2px);
    }
    60% {
        clip-path: inset(70% 0 25% 0);
        transform: translate(2px, -2px);
    }
    80% {
        clip-path: inset(90% 0 5% 0);
        transform: translate(-2px, 2px);
    }
    100% {
        clip-path: inset(10% 0 85% 0);
        transform: translate(0, 0);
    }
}

h1.myName {
    font-size: 3rem;
    color: #D11528;
    text-transform: uppercase;
    position: relative;
    animation: zoomIn 2s ease-out forwards;
    overflow: hidden;
}

/* Glicth Layers */
h1.myName::before,
h1.myName::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #000;
    background: white;
    overflow: hidden;
    clip-path: inset(0);
    animation: glitch 2s infinite;
}

h1.myName::before {
    color: #000;
    animation: glitchBefore 2s infinite linear alternate-reverse;
}

h1.myName::after {
    color: #000;
    animation: glitchAfter 2s infinite linear alternate-reverse;
}

/* Navigation Bar */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #22BF7E;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.bottom-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.bottom-nav li {
    margin: 0 20px;
}

.navlink {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: #000;
    text-decoration: none;
    font-weight: normal;
    font-size: 21px;
    padding: 5px 14px;
    border-radius: 7px;
}

.navlink i {
    font-size: 24px;
    transition: transform .3s ease, opacity .3s ease;
}


.navlink .nav-text {
    font-size: 18px;
    margin-top: 5px;
    opacity: 0;
    transform: translateY(20px);
    transition: transform .3s ease, opacity .3s ease;
}

.navlink:hover i {
    transform: translateY(-20px);
    opacity: 0;
}

.navlink:hover .nav-text {
    opacity: 1;
    transform: translateY(0);
}

/* Highlighting Active Link */

.navlink.active {
    color: #D11528;
}

/*  Responsive */

@media (max-width: 600px) {
    .bottom-nav a {
        font-size: 16px;
        padding: 6px 12px;
    }
}

/* Bouncing Effects Animation */

@keyframes bounce {
    0%, 20%, 40%, 60%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-14px);
    }
    80% {
        transform: translateY(-7px);
    }
}