/* Overall Styling */

html {
    scroll-behavior: smooth;
}

/* Top Button Styles */

#topButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    padding-bottom: 0px;
}

#topButton:hover {
    background-color: lightgreen;
    color: #000;
    transition: 0.5s ease-in-out;
}

/* Navbar Button Styles */

/* Navbar Styles */

nav {
    margin: 0 1vh;
}

nav .navbar-brand {
    font-size: 2rem;
    font-family: 'Nunito Sans', sans-serif;
}

.navbar-nav {
    margin-left: auto;
    font-family: 'Nunito Sans', sans-serif;
}

.navbar-nav li {
    padding-right: 40px;
    transition: 0.5s ease;
}

.navbar-nav li:hover {
    text-decoration: none;
    transform: translateY(-5px);
}


/* Home Section Styles */

.container {
    margin-right: auto;
}

.container .col-6 {
    margin-top: 8vh;
}

.container .col-6 p {
    margin-top: 4vh;
}

.container .col-6 p br {
    margin-bottom: 2vh;
}

.container .col-6 h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3rem;
}

.container .col-6 h1 .material-symbols-outlined {
    font-size: 32px;
}
.container .row .Kenya {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    font-size: 1.5rem;
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
}

.container .row p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    font-family: 'Arvo', serif;
    color: #fff;
}

.container p a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.container .row .col-4 {
    margin-top: 7rem;
}

.container .row .col-4 .number {
    font-size: 5rem;
    color: gray;
}

.container .row .col-4 .company {
    margin-right: 10rem;
    margin-top: 0;
    font-size: 18px;
    font-weight: 600;
    color: lightgreen;
    font-family: 'Nunito Sans', sans-serif;
}

.container .row .col-4 .company-text {
    font-family: 'Arvo', serif;
}

/* About Section STyles */

#about {
    background-color: #fff;
    padding-bottom: 10vh;
}

#about .container .row .col-6 {
    padding: 10px;
}

#about .container .row .col-6 h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 45px;
    font-weight: 600;
    color: #000;
}

#about .container .row .col-6 p {
    color: #000;
}

#about .container .row .col-6 .image-banner {
    width: 30rem;
    height: 30rem;
    margin-left: 15rem;
}

/* Skillset Section Styles */

#skillset .container .row .col-4 {
    width: 25rem;
    margin-right: 30px;
}

#skillset .container .row .skill-head {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 3vh;
}

#skillset .container .row .skill-text {
    font-family: 'Arvo', serif;
    margin-top: 0;
    margin-bottom: 50px;
}

#skillset .container .row .first-skill h5 {
    color: lightgreen;
    margin-bottom: 10px;
}

#skillset .container .row .second-skill h5 {
    color: lightgreen;
    margin-bottom: 10px;
}


#skillset .container .row .first-skill .material-symbols-outlined {
    margin-bottom: 20px;
    font-size: 38px;
    transition: 0.5s ease;
}

#skillset .container .row .first-skill .material-symbols-outlined:hover {
    color: lightgreen;
    transform: translateY(-5px);
}

#skillset .container .row .second-skill .material-symbols-outlined {
    margin-bottom: 20px;
    font-size: 38px;
    transition: 0.5s ease;
}

#skillset .container .row .second-skill .material-symbols-outlined:hover {
    color: lightgreen;
    transform: translateY(-5px);
}

/* Projects Section Styles */

#projects {
    background-color: #fff;
}

#projects .container .row .tech {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 45px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 4rem;
}

#projects .container .row .col-3 {
    margin: auto;
    margin-bottom: 8rem;
}

#projects .container .row .col-3 .tech-image {
    width: 80px;
    height: 80px;
    margin-top: 3vh;
    transition: 0.5s ease;
}

#projects .container .row .col-3 .tech-image:hover {
    transform: translateY(-10px);
}

#projects .container .row .tech-text {
    font-family: 'Arvo', serif;
    color: #000;
    margin-right: 14rem;
}

/* Work Section Styles */

#work .container .row {
    margin-top: 2rem;
}

#work .container .work-heading {
    margin-top: 2rem;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 45px;
    margin-bottom: 10px;
}

#work .container .work-text {
    font-size: 2rem;
    font-family: 'Arvo', serif;
}

#work .container .row .col-6 .work-image {
    width: 39.7rem;
    transition: 0.4s ease;
}

#work .container .row .col-6 .work-image:hover {
    transform: translateY(-7px);
}

#work .container .work-texts {
    background-color: rgb(233, 233, 233);
    padding-left: 10px;
    margin: 0;
    height: 5rem;
    width: 39.7rem;
    color: #000;
}

#work .container .row .col-6 .work-link {
    margin-left: 37rem;
}

#work .container .row .col-6 .work-link .material-symbols-outlined {
    font-size: 38px;
}

/* Contact Section Styles */

#contacts .container .row .col-6 {
    padding-right: 30px;
    margin-bottom: 40px;
}

#contacts .container .row .col-6 .contact-header {
    font-family: 'Nunito Sans', sans-serif;
}

#contacts .container .row .col-6 .contact-text {
    font-family: 'Arvo', serif;
}

#contacts .container .row .col-6 fieldset button {
    margin-top: 20px;
    background-color: #000;
    border: 1px solid lightgreen;
    transition: 0.4s ease;
}

#contacts .container .row .col-6 fieldset button:hover {
    transform: translateX(-10px);
    border: none;
}

#contacts .container .row .col-6 .form-group label {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
}

#contacts .container .row .col-6 .form-group textarea {
    height: 10rem;
}

/* Footer Section Style */

#footer .container .row {
    margin-top: 20px;
}

#footer .container .row .col-8 {
    padding-left: 0px;
}

#footer .container .row .col-8 .info-head {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 40px;
    margin-left: 67px;
}

#footer .container .row .col-8 figure {
    margin-bottom: 25px;
    margin-right: 0px;
}

#footer .container .row .col-8 .text-center {
    font-family: 'Arvo', serif;
}

#footer .container .row .col-2 {
    padding-left: 200px;
    margin-top: 50px;
}

#footer .container .row .copyright {
    margin-bottom: 20px;
    font-size: 15px;
}





@media only screen and (max-width: 400px) {

    #topButton {
        display: none;
        position: fixed;
        bottom: 10px;
        right: 5px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #000;
        color: #fff;
        cursor: pointer;
        padding-bottom: 0px;
        border-radius: 15px;
    }

    .container .row {
        display: block;
        margin-left: 7.5vh;
    }

    .container .col-6 {
        margin-top: 7vh;
    }

    .container p a {
        margin-top: 4vh;
        display: block;
        margin-left: 16.5vh;
    }

    .container .row {
        margin: 0;
        padding: 0;
    }

    .container .row .col-6 {
        width: 100rem;
    }

    .container .row .col-4 {
        width: 24rem;
        margin-left: 1vh;
        margin-top: 3rem;
    }

    #about .container .row .col-6 img {
        width: 1000px;
    }

    #about .container .row .col-6 .image-banner {
        width: 14rem;
        height: 15rem;
        margin-left: 1rem;
    }

    #projects .container .row {
        padding-bottom: 35px;
    }

    #projects .container .row .col-3 .tech-image {
        width: 30px;
        height: 30px;
    }
    
    #projects .container .row .col-3 {
        margin-bottom: 0px;
    }

    #projects .container .row .tech-text {
        margin-left: 1rem;
    }

    #work .container .row {
        margin-top: 2rem;
    }

    #work .container .work-heading {
        margin-top: 2rem;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1rem;
        color: gray;
    }

    #work .container .work-text {
        font-size: 2rem;
        font-family: 'Arvo', serif;
    }

    #work .container .row .col-6 .work-image {
        width: 16.5rem;
    }

    #work .container .row .col-6 .work-texts {
        background-color: rgb(233, 233, 233);
        margin: 0;
        height: 5rem;
        width: 16.5rem;
        color: #000;
    }

    #work .container .row .col-6 .work-link {
        margin-left: 14rem;
    }
    
    #footer .container .row .col-2 {
        display: none;
    }


    #footer .container .row .col-8 .info-head {
        display: none;
    }

    #footer .container .row .col-8 figure {
        margin-left: 100px;
    }

    #footer .container .row .copyright {
        margin-bottom: 44px;
        font-size: 10px;
    }

}

@media only screen and (max-width: 768px) {

    #topButton {
        display: none;
        position: fixed;
        bottom: 10px;
        right: 5px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #000;
        color: #fff;
        cursor: pointer;
        padding-bottom: 0px;
        border-radius: 15px;
    }

    .container .row {
        display: block;
        margin-left: 7.5vh;
    }

    .container .col-6 {
        margin-top: 7vh;
    }

    .container p a {
        margin-top: 4vh;
        display: block;
        margin-left: 16.5vh;
    }

    .container .row {
        margin: 0;
        padding: 0;
    }

    .container .row .col-6 {
        width: 100rem;
    }

    .container .row .col-4 {
        width: 24rem;
        margin-left: 1vh;
        margin-top: 3rem;
    }

    #about .container .row .col-6 img {
        width: 1000px;
    }

    #about .container .row .col-6 .image-banner {
        width: 14rem;
        height: 15rem;
        margin-left: 1rem;
    }

    #projects .container .row {
        padding-bottom: 35px;
    }

    #projects .container .row .col-3 .tech-image {
        width: 30px;
        height: 30px;
    }
    
    #projects .container .row .col-3 {
        margin-bottom: 0px;
    }

    #projects .container .row .tech-text {
        margin-left: 1rem;
    }

    #work .container .row {
        margin-top: 2rem;
    }

    #work .container .work-heading {
        margin-top: 2rem;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1rem;
        color: gray;
    }

    #work .container .work-text {
        font-size: 2rem;
        font-family: 'Arvo', serif;
    }

    #work .container .row .col-6 .work-image {
        width: 22.5rem;
    }

    #work .container .row .col-6 .work-texts {
        background-color: rgb(233, 233, 233);
        margin: 0;
        height: 5rem;
        width: 22.5rem;
        color: #000;
    }

    #work .container .row .col-6 .work-link {
        margin-left: 20rem;
    }
    
    #footer .container .row .col-2 {
        display: none;
    }


    #footer .container .row .col-8 .info-head {
        display: none;
    }

    #footer .container .row .col-8 figure {
        margin-left: 100px;
    }

    #footer .container .row .copyright {
        margin-bottom: 44px;
        font-size: 10px;
    }

}

