@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto:wght@100;300&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    background: #000;
    overflow: hidden;
}

/************* NAVIGATION BAR ***************/

nav ul li .nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 0.77rem;
    transition: 0.5s ease-in-out;
    color: #fff;
    border-radius: 14px;
}

nav ul li .nav-link:hover {
    background-color: #ff0000;
    color: #000;
}

/************* HOME SECTION ***************/

.container-fluid .row .homeName {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 7.7rem;
    color: #ff0000;
    padding-top: 5.5rem;
    text-transform: uppercase;
    text-shadow: 2px 2px #fff;
    letter-spacing: 3rem;
    transform: scale(0.9);
    transition: transform .3s;
}

.container-fluid button {
    background: none;
    border: none;
}

#Home {
    background-image: url(./assets/back.jpeg);
    height: 62rem;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    transition: opacity .3s;
    overflow: hidden;
}

.container-fluid .row .homeText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    color: #fff;
    transform: translateY(7px);
    transition: transform .3s;
}


.container-fluid .row .homeText .breaker {
    margin-top: 21px;
}

.container-fluid .row .myName {
    color: #ff0000;
    cursor: pointer;
    text-shadow: 2px 2px #000;
}


.container-fluid .row .material-symbols-outlined {
    font-size: 42px;
    color: #fff;
    animation: bounce 1.7s infinite;
    animation-timing-function: ease-in-out;
    display: inline-block;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
      color: #ff0000;
    }
    60% {
      transform: translateY(-10px);
    }
}

/************* ABOUT SECTION ***************/

#About {
    background-color: #000000;
    height: 100%;
    width: 100%;
}

#About .aboutHead {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    border-left: 2px solid #ff0000;
    border-bottom: 2px solid #ff0000;
    border-image: linear-gradient(to left, transparent 50%, #ff0000 50%) 1;
    border-image-slice: 1;
    font-size: 2.5rem;
    transition: 1s ease-in-out;
}


#About .AboutMe #aboutSub {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
    opacity: .7;
    font-size: 2rem;
    letter-spacing: 5px;
    text-decoration: underline;
}

#About .aboutText {
    font-family: 'Montserrat', sans-serif;
    color: gray;
    letter-spacing: 2px;
    line-height: 27px;
    font-size: 15px;
}

#About .aboutMore button {
    color: #ff0000;
    opacity: .6;
    transition: .3s ease-in-out;
    font-size: 21px;
    padding-bottom: 14px;
    animation: bouncer 1.7s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes bouncer {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
      color: #fff;
    }
    60% {
      transform: translateY(-10px);
    }
}

#About .AboutMe .list-group .list-group-item {
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    color: gray;
    border: none;
}

#About .AboutMe .links-container .row {
    height: 20rem;
}

.list-group {
    display: none;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s, max-height 1s, transform .5s;
}

.list-group.show-list {
    display: block;
    opacity: 1;
    max-height: 1000px;
    transform: translateY(-21px);
}

#About .more-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

#About .more-info .card {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    border: 2px solid #ff0000;
    position: relative;
    overflow: hidden;
}

#About .more-info .card .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
}

#About .more-info .card .card-body {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #ff21212f;
    opacity: .8;
    backdrop-filter: blur(5px);
    border-radius: 14px;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .7s ease-in-out;
}

#About .more-info .card:hover .card-body {
    right: 0;
}

#About .more-info .card .card-body .card-title {
    text-transform: uppercase;
    font-size: 49px;
    font-weight: 500;
}

#About .more-info .card .card-body .card-sub-title {
    font-size: 18px;
    font-weight: 300;
}

#About .more-info .card .card-body .card-info {
    font-size: 17px;
    line-height: 25px;
    margin: 25px 0;
    font-weight: 400;
}

#About .more-info .card .card-body .card-btn {
    color: #ff0000;
    background: #000;
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
    width: 150px;
}


/************* BREAKER SECTION ***************/

#img-breaker {
    background-image: url(./assets/back.jpeg);
    height: 12rem;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

/************* PROJECTS SECTION ***************/

.projects {
    height: 100rem;
    width: 100%;
    background: #000;
}