@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');


/***************************** Global Variables **/
:root {
    --primary-color: #011627;
    --secondary-color: #2ec4b6;
    --tertiary-color: #fdfffc;
}

body {
    background-color: var(--primary-color);
    font-family: 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

/**************************** Navigation Bar **/

.navigationBar {
    padding: 1rem;
    margin: 1.4rem;
}

.nav-item {
    border-bottom: 1.4px solid var(--tertiary-color);
    margin: 0 14px 0 14px;
}

.nav-item:hover {
    border-bottom: none;
}

.nav-link {
    color: var(--secondary-color);
    font-size: 1.1rem;
}

.nav-link:hover {
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    border-radius: 7px;
}

/**************************** Main Section **/


.main .main-header {
    font-size: 4.9rem;
    margin: 14px;
    word-spacing: 14px;
    color: var(--tertiary-color);
}

.mainText {
    margin: 4.9px 0 4.9px 0;
    padding: 0 0 0 4px;
    font-size: 18px;
    color: var(--tertiary-color);
}

.mainButton {
    margin: 1.4rem 0 0 0;
    border: none;
    font-size: 22px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border-bottom: 1.4px solid var(--secondary-color);
}

.fa-solid {
    padding: 0 .7rem 0 0;
    font-size: 1rem;
    color: var(--tertiary-color);
}