@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/***************************** Global Variables **/
:root {
    --primary-color: #fefae0;
    --secondary-color: #283618;
    --tertiary-color: #606c38;
}

body {
    background-color: var(--primary-color);
    scroll-behavior: smooth;
}

/***************************** Navigation Bar Styles **/

.navbar {
    font-family: "Cinzel", serif;
    font-weight: normal;
    border-bottom: 1.2px solid var(--secondary-color);
    overflow: hidden;
}

.navbar-brand {
    margin: 1.2rem 0 ;
    font-weight: bold;
    font-size: 2.4rem;
    color: var(--secondary-color);
}

.nav-link {
    color: var(--secondary-color);
    letter-spacing: 1.2px;
    padding: 1.2px 0;
}

.nav-item {
    border-bottom: none;
    transition: 1.4s ease-in-out;
    padding: 0 0 4.9px 0;
}

.nav-item:hover {
    border-bottom: 1.2px solid var(--secondary-color);
}

.navbar-toggler {
    background-color: var(--tertiary-color);
}


.mainContainer {
    border-left: 1.2px solid var(--secondary-color);
}

.main {
    font-family: "Inter", serif;
    margin: 4.9rem;
}

.main .main-header {
    font-size: 4.9rem;
    margin: 14px;
    word-spacing: 14px;
    color: var(--tertiary-color);
}

.mainText {
    font-family: "Inter", serif;
    margin: 4.9rem 0 4.9px 0;
    padding: 0 0 0 4px;
    font-size: 18px;
    font-weight: normal;
    color: var(--tertiary-color);
}

.mainButton {
    background-color: var(--primary-color);
    margin: 1.4rem 0 0 0;
    border: none;
    font-family: "Inter", serif;
    font-size: 22px;
    color: var(--tertiary-color);
}

.fa-solid {
    padding: 0 .7rem 0 0;
    font-size: 1rem;
    color: var(--tertiary-color);
}