@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

/***************************** Global Variables **/
:root {
    --primary-color: #fefae0;
    --secondary-color: #283618;
    --tertiary-color: #606c38;
}

body {
    background-color: var(--primary-color);
    scroll-behavior: smooth;
}

/***************************** Navigation Bar Styles **/

.navbar {
    font-family: "Cinzel", serif;
    font-weight: normal;
    border-bottom: 1.2px solid var(--secondary-color);
}

.navbar-brand {
    margin: 1.2rem 0 ;
    font-weight: bold;
    font-size: 2.4rem;
    color: var(--secondary-color);
}

.nav-link {
    color: var(--secondary-color);
    letter-spacing: 1.2px;
    padding: 1.2px 0;
}

.nav-item {
    border-bottom: none;
    transition: 1.4s ease-in-out;
}

.nav-item:hover {
    border-bottom: 1.2px solid var(--secondary-color);
}

.navbar-toggler {
    background-color: var(--tertiary-color);
}

