body {
    background-color: #000;
    scroll-behavior: smooth;
}

nav{
    background-color: #000;
}

.container-fluid .navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 7px;
}

.container-fluid .navbar-nav {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid .navbar-nav .nav-item,
.dropdown-menu {
    position: relative;
}

.container-fluid .navbar-nav .nav-item .nav-link::before {
    background-color: #4a3c3f;
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

.container-fluid .navbar-nav .nav-item .nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.cut{
    color: red;
    font-size: 48px;
    padding-right: 7px;
}

.dropdown-menu {
    background: none;
    font-size: 18px;
}

.dropdown-menu .dropdown-item:hover {
    background: none;
}

.container-fluid .col-8, .col-4 {
    overflow: hidden;
    margin-top: 110px;
}

#home-picture img {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: .7;
    border-radius: 7rem;
}

.home-head {
    margin-right: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 37px;
}

.home-paragraph {
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    letter-spacing: 1.5px;
}

.btn {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
}

#about-picture {
    opacity: .7;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container .col-6 .about-heading {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    font-size: 38px;
    top: 70%;
    transition: .5s ease-in-out;
}

.container .col-6 .about-heading:hover {
    border: none;
    color: red;
}

.container .col-6 .about-exp {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    font-size: 30px;
    top: 75%;
    transition: .5s ease-in-out;
}

.container .col-6 .about-exp:hover {
    border: none;
    color: red;
}

.container .col-6 .about-text{
    margin-right: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 37px;
}

.container .col-6 .about-paragraph {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.container .col-6 .about-status {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 400;
}


.container .col-6 .about-paragraph span {
    color: red;
    transition: .5s ease-in-out;
}

.container .col-6 .about-paragraph span:hover {
    color: #fff;
}

.container .col-6 .status {
    border-radius: 4px;
    transition: .5s ease-in-out;
}

.container .col-6 .status:hover {
    background-color: red;
    opacity: .7;
}

.container .col-6 .status span {
    color: red;
    transition: .5s ease-in-out;
}

.container .col-6 .status span:hover {
    color: #000;
}

.barber-heading {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    font-size: 38px;
    transition: 0.5s ease-in-out;
}

.barber-heading:hover {
    border: none;
    color: red;
}

#OurBarber span {
    font-size: 42px;
    color: #fff;
    right: 0;
    padding-left: 49%;
    transition: .5s ease-in-out;
}

#OurBarber span:hover {
    color: red;
}

.container-sm {
    overflow: hidden;
}

.container-sm .col-3 .card {
    background-color: #000;
}

.container-sm .col-3 .card img {
    height: 400px;
    border-radius: 4px;
}

.container-sm .col-3 .card-body{
    background-color: #000;
}

.container-sm .col-3 .card-text {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    transition: 0.5s ease-in-out;
}

.container-sm .col-3 .card-text:hover {
    border: none;
    color: red;
}

.container .col .services-heading {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    font-size: 38px;
    transition: 0.5s ease-in-out;
}

.container .col .services-heading:hover {
    border: none;
    color: red;
}

.container .col .services-list .Hair-Cut {
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    border-left: 2px solid #4a3c3f;
}

.container .col .services-list .Beard-Trim {
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    border-right: 2px solid #4a3c3f;
}

.container .col .services-list .Moustache {
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    border-left: 2px solid #4a3c3f;
}

.container .col .services-list .Mans-Shave {
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    border-right: 2px solid #4a3c3f;
}

.container .col .services-list .Hair-Dyeing {
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    border-left: 2px solid #4a3c3f;
}

.container .col .services-list .Dreads {
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    border-right: 2px solid #4a3c3f;
}

.badge {
    font-weight: 200;
    font-size: 18px;
    transition: .5s ease-in-out;
}

.badge:hover {
    color: green;
}

.container .col .accordion {
    background-color: #000;
}

.container .col .accordion-item {
    background-color: #4a3c3f;
    border: none;
    color: #fff;
    font-weight: 200;
    line-height: 2;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

.container .col .accordion-item .accordion-header {
    background-color: #000;
    color: #fff;
}

.container .col .accordion-item .accordion-header .accordion-button {
    background-color: #000;
}

.container-fluid .col .testimonials-heading {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    font-size: 38px;
    transition: 0.5s ease-in-out;
}

.container-fluid .col .testimonials-heading:hover {
    border: none;
    color: red;
}

.slider {
    height: 700px;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider__nav {
    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #4a3c3f;
    outline-offset: -6px;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
            animation: check 0.4s linear forwards;
  }
  .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
  }
  .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
  }
  .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
  }
  .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
  }
  .slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .slider__contents {
    height: 100%;
    padding: 2rem;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider-image {
    font-size: 2.7rem;
    height: 27rem;

  }
  .slider__caption {
    font-weight: 300;
    color: #fff;
    margin: 2rem 0 1rem;
    text-transform: uppercase;
    transition: .5s ease-in-out;
  }

  .container-fluid .col .slider__caption:hover {
    border: none;
    color: red;
    }


  .slider__txt {
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    font-weight: 200;
    letter-spacing: 1;
    font-size: 23px;
    margin-bottom: 3rem;
    max-width: 400px;
  }
  
  @-webkit-keyframes check {
    50% {
      outline-color: #4a3c3f;
      box-shadow: 0 0 0 12px #4a3c3f, 0 0 0 36px rgba(104, 56, 68, 0.096);
    }
    100% {
      outline-color: #4a3c3f;
      box-shadow: 0 0 0 0 #4a3c3f, 0 0 0 0 rgba(105, 60, 75, 0);
    }
  }
  
  @keyframes check {
    50% {
        outline-color: #4a3c3f;
        box-shadow: 0 0 0 12px #4a3c3f, 0 0 0 36px rgba(104, 56, 68, 0.096);
    }
    100% {
        outline-color: #4a3c3f;
        box-shadow: 0 0 0 0 #4a3c3f, 0 0 0 0 rgba(105, 60, 75, 0);
    }
  }



.container-fluid .col-5 .navbar-brand {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 7px;
}

.container-fluid .col-5 .cut{
    color: red;
    font-size: 48px;
    padding-right: 7px;
}

.container-fluid .col-5 .contact-heading {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    font-size: 38px;
    transition: .5s ease-in-out;
}

.container-fluid .col-5 .contact-heading:hover {
    border: none;
    color: red;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #4a3c3f;
    font-size: 14px;
  }
  
  input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #fff;
  }
  
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #fff;
    font-size: 0.875em;
  }
  
  input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: #4a3c3f;
  }
  
  input::placeholder, textarea::placeholder {
    color: #fff;
    font-size: 0.875em;
  }
  
  input:focus::placeholder, textarea::focus:placeholder {
    color: #4a3c3f;
  }
  
  input::-ms-placeholder, textarea::-ms-placeholder {
    color: #4a3c3f;
    font-size: 14px;
  }
  
  input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
    color: #4a3c3f;
  }
  
  /* on hover placeholder */
  
  input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
    color: red;
    font-size: 0.875em;
  }
  
  input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
    color: red;
  }
  
  input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
    color: red;
    font-size: 14px;
  }
  
  input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
    color: red;
  }
  
  input:hover::placeholder, textarea:hover::placeholder {
    color: red;
    font-size: 0.875em;
  }
  
  input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: red;
  }
  
  input:hover::placeholder, textarea:hover::placeholder {
    color: red;
    font-size: 0.875em;
  }
  
  input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
    color: red;
  }
  
  #form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
  }
  
  input {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #fff;
    border: none;
    border-bottom: solid 1px #4a3c3f;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: none;
    border-bottom: solid 1px #4a3c3f;
    transition: 0.5s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  #submit {
    max-width: 470px;
    padding: 0;
    color: lightgrey;
    margin: -5px 0px 0px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    outline:none;
    cursor: pointer;
    border: none;
    border-bottom: solid 1px #4a3c3f;
    transition: .5s ease-in-out;
  }

  #submit:hover {
    color: red;
  }

.container-fluid .col-4 .call-us-icon span{
    color: #fff;
    font-size: 32px;
    transition: .5s ease-in-out;
}

.container-fluid .col-4 .call-us-icon span:hover {
    color: red;
}

.container-fluid .col-4 .call-us-text {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    letter-spacing: 3px;
    border-bottom: 1px solid #4a3c3f;
}

.container-fluid .col-4 .email-us-icon span{
    color: #fff;
    font-size: 32px;
    transition: .5s ease-in-out;
}

.container-fluid .col-4 .email-us-icon span:hover {
    color: red;
}

.container-fluid .col-4 .email-us-text {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    letter-spacing: 3px;
    border-bottom: 1px solid #4a3c3f;
}

.container-fluid .col-4 .map-icon span{
    color: #fff;
    font-size: 32px;
    transition: .5s ease-in-out;
}

.container-fluid .col-4 .map-icon span:hover {
    color: red;
}

.container-fluid .col-4 .map-text {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    letter-spacing: 3px;
    border-bottom: 1px solid #4a3c3f;
}
 
.container-fluid .col-3 .social-link a {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: .5s ease-in-out;
    background-color: #4a3c3f;
}

.container-fluid .col-3 .social-link a:hover {
    background-color: red;
    color: #000;
    font-weight: 300;
}

.container-fluid .col-3 .social-heading {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    font-size: 38px;
    transition: .5s ease-in-out;
}

.container-fluid .col-3 .social-heading:hover {
    border: none;
    color: red;
}

.container-fluid .row .copyright {
    color: lightgrey;
}